{% extends 'index_base.html' %}


{% block title_block %}Wishlist{% endblock %}
{% block main_content %}

<table class="table table-striped">
    <thead>
    <th> Title</th>
    <th> Author</th>
    <th> Release year</th>
    </thead>
    <tfoot>
    <th> Title</th>
    <th> Author</th>
    <th> Release year</th>
    </tfoot>
    <tbody>
    {% if wishlist_books %}
    {% for wl_book in wishlist_books %}
    <tr>
        <td>{{ wl_book.book.book_title }}</td>
        <td>{{ wl_book.book.author_first_name }} {{ wl_book.author_last_name}}</td>
        <td>{{ wl_book.book.release_year }}</td>
        <td><a
            href="{{ url_for('bp_general.delete_book_from_wishlist', wishlist_book_id=wl_book.id)}}">remove</a>
        <button onclick="document.location='{{ url_for('bp_general.add_audiobook')}}'" class="btn btn-primary">
    Add audiobook
</button>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        No books in your wishlist
    </tr>
    {% endif %}
    </tbody>

</table>
{% endblock %}